<div class="container-fluid">

    <div class="row">
        <div class="col">
            <p>
                header works!
              </p>
        </div>
      
        <div class="col">
            
            <div class="dropdown float-right">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown link
                </a>
              
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
        </div>
         
          
      
      </div>
</div>


