<div class="container-fluid">

    <div class="row">
        <div class="col">
            <p>
               
              </p>
        </div>
      
        <div class="col">
            
            <div class="dropdown float-right">
                <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons"> person</i>
                  Usuario
                </a>
              
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Salir</a>
                </div>
              </div>
        </div>
         
          
      
      </div>
</div>


