.dropdown{
    height: 75px;
    > a {
        color: #4f5f6f;
        line-height: 75px;
        padding: 0px;
    }
    .btn {
        height: 75px;
        position: relative;
        i{
            position: relative;
            top: 5px;
        }
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }   
}