
body{
    font-family: 'Open Sans', sans-serif;
    height:100vh !important;
    app-root {
        height:100vh !important;  
    }
    ul{
        li {
            list-style: none;
        }
    }
}
body, app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.wrap {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.wrapLeft {
    background: #3a4651;
    width:15%;
}
.wrapRight {
    background: #f0f3f6;
    width:85%;
    height: 100%;
}
.wrapHeader {
    background:#d7dde4;
    display: inline-block;
    width: 100%;
    height: 75px;
}
.main {
    padding: 15px 15px;
}
  
