
body{
    font-family: 'Open Sans', sans-serif;
    height:100vh !important;
    app-root {
        height:100vh !important;  
    }
}

.wrap {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.wrapLeft {
    background: red;
    width:20%;
}
.wrapRight {
    background: blue;
    width:80%;
}
  
