<div class="sidebar">
  <div class="logo">  sidebar works</div> 
  <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <a class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              General
            </a>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Finanzas
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <a class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Gastos comunes
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche 
          </div>
        </div>
      </div>
    </div>
  <div class="menu">
    <ul>
      <li>
        <a href="javascript:;">
          General
          <i class="material-icons">
            account_balance
          </i>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          Finanzas
          <i class="material-icons">
              trending_up
          </i>
          <i class="material-icons">
            keyboard_arrow_down
          </i>
        </a>
        <ul>
          <li><a href="javascript:;">Ingresos</a></li>
          <li><a href="javascript:;">Gastos</a></li>
          <li><a href="javascript:;">morosos</a></li>
          <li><a href="javascript:;">remuneraciones</a></li>
        </ul>
      </li>

      <li><a href="javascript:;">gastos comunes</a></li>
      <li><a href="javascript:;">Espacios comunes</a></li>
      <li><a href="javascript:;">conserjeria</a></li>
      <li><a href="javascript:;">Votaciones</a></li>  
    </ul>
  </div>
</div>