<div class="sidebar">
  <div class="logo">  sidebar works</div> 
  <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header">
          <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="material-icons icon">dashboard </i>
            General
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="btn collapsed"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="material-icons icon">show_chart </i>
            Finanzas
            <i class="material-icons arrow">keyboard_arrow_right</i>
          </a>  
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <ul>
            <li><a href="javascript:;">Ingresos</a></li>
            <li><a href="javascript:;">Gastos</a></li>
            <li><a href="javascript:;">morosos</a></li>
            <li><a href="javascript:;">remuneraciones</a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <a class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <i class="material-icons icon">equalizer</i>
            Gastos comunes
            <i class="material-icons arrow">keyboard_arrow_right</i>
          </a>  
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <ul>
            <li><a href="javascript:;">Ingresos</a></li>
            <li><a href="javascript:;">Gastos</a></li>
            <li><a href="javascript:;">morosos</a></li>
            <li><a href="javascript:;">remuneraciones</a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">
            <i class="material-icons icon">show_chart </i>
            Espacios comunes
            <i class="material-icons arrow">keyboard_arrow_right</i>
          </a>
          
        </div>
        <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <ul>
            <li><a href="javascript:;">Ingresos</a></li>
            <li><a href="javascript:;">Gastos</a></li>
            <li><a href="javascript:;">morosos</a></li>
            <li><a href="javascript:;">remuneraciones</a></li>
          </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo">
              <i class="material-icons icon">show_chart </i>
              Conserjería
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo">
              <i class="material-icons icon">show_chart </i>
              Votaciones
            </a>
          </div>
        </div>
    </div>
</div>